* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #51adcf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: white;
    font-family: Arial;
}

#displayInput {
    color: white;
    text-align: center;
    height: 20vh;
    font-size: 30px;
    font-family: 'Silkscreen';
}

.addCursor::after {
    content: '|';
    color: white;
    animation: cursor-blink 1200ms steps(2) infinite;
}
 
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.cleared {
    color: red;
}

#displayResult {
    font-family: 'Tangerine', serif;
    color: white;
    min-height: 40px;
    text-align: center;
    font-size: 30px;
    font-family: 'Silkscreen';

}

#numberButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50vw;    
    
}

#numberButtons button {
    width: auto;
    font-size: 20px;
}

#operationButtons {
    margin-top: 5vh;
    height: auto;
}

#clear {
    width: auto;
}

button {
    font-size: 20px;
    background-color: #51adcf;
    min-width: 5vw;
    min-height: 8vh;
    color: white;
}

body div:nth-of-type(5) {
    margin-top: 30px;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

